spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pos
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
jwt:
  secret: 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
  expirationTime: 60
app-setup:
  alreadySetup: false
  adminUsername: admin
  adminPassword: admin
  adminEmail: example@gmail.com


springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    display-request-duration: true
    operations-sorter: method
